
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Movies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- Link Swiper's CSS -->

    @Styles.Render("~/Content/themecss")
   


    <script src="~/Theme/js/jquery-3.1.1.min.js"></script>
    <script src="~/Theme/js/script.js"></script>

   
</head>
<body>
    <div class="wrapper">

        @RenderPage("~/Views/Shared/Components/_UserNavigationBar.cshtml")



        @RenderBody()

        @RenderPage("~/Views/Shared/Components/_UserFooter.cshtml")


        <!-- Swiper JS -->
        <script src="~/Theme/js/swiper.min.js"></script>

        <!-- Initialize Swiper -->
        <script src="~/Theme/js/InitializeSwiper.js"></script>

    </div>
</body>
</html>