
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Movies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- Link Swiper's CSS -->


    <link href="~/Theme/css/swiper.min.css" rel="stylesheet" />


    <link href="~/Theme/css/styles.css" rel="stylesheet" />



    <script src="~/Theme/js/jquery-3.1.1.min.js"></script>


    <script src="~/Theme/js/script.js"></script>

    <!-- Demo styles -->
    <style>
    </style>
</head>
<body>
    <div class="wrapper">

        @RenderPage("~/Views/Shared/Components/_UserNavigationBar.cshtml")



        @RenderBody()

        @RenderPage("~/Views/Shared/Components/_UserFooter.cshtml")

  
        <!-- Swiper JS -->
        <script src="~/Theme/js/swiper.min.js"></script>






        <!-- Initialize Swiper -->
        <script>
            $(document).ready(function () {


                var swiper = new Swiper('.homeslider > .swiper-container', {
                    pagination: '.swiper-pagination',
                    paginationClickable: true,
                    preventClicks: false,
                    preventClicksPropagation: false,
                    effect: 'fade',
                    breakpoints: {
                        320: {
                            height: 200
                        },

                        480: {
                            height: 300
                        },

                        768: {
                            height: 400
                        },
                        1024: {
                            height: 500
                        }
                    }
                });

                var recentswiper = new Swiper('.recentslider > .swiper-container', {
                    nextButton: '.recent-next',
                    prevButton: '.recent-prev',
                    slidesPerView: 8,
                    paginationClickable: true,
                    preventClicks: false,
                    preventClicksPropagation: false,
                    spaceBetween: 10,
                    breakpoints: {
                        320: {
                            slidesPerView: 3,
                            spaceBetween: 5
                        },

                        480: {
                            slidesPerView: 3,
                            spaceBetween: 5
                        },

                        768: {
                            slidesPerView: 5,
                            spaceBetween: 5
                        },
                        1024: {
                            slidesPerView: 6,
                            spaceBetween: 10
                        }
                    }
                });

                var mostswiper = new Swiper('.mostslider > .swiper-container', {
                    nextButton: '.most-next',
                    prevButton: '.most-prev',
                    slidesPerView: 8,
                    paginationClickable: true,
                    preventClicks: false,
                    preventClicksPropagation: false,
                    spaceBetween: 10,
                    breakpoints: {
                        320: {
                            slidesPerView: 3,
                            spaceBetween: 5
                        },

                        480: {
                            slidesPerView: 3,
                            spaceBetween: 5
                        },

                        768: {
                            slidesPerView: 5,
                            spaceBetween: 5
                        },
                        1024: {
                            slidesPerView: 6,
                            spaceBetween: 10
                        }
                    }
                });

                var topswiper = new Swiper('.topslider > .swiper-container', {
                    nextButton: '.top-next',
                    prevButton: '.top-prev',
                    slidesPerView: 8,
                    paginationClickable: true,
                    preventClicks: false,
                    preventClicksPropagation: false,
                    spaceBetween: 10,
                    breakpoints: {
                        320: {
                            slidesPerView: 3,
                            spaceBetween: 5
                        },

                        480: {
                            slidesPerView: 3,
                            spaceBetween: 5
                        },

                        768: {
                            slidesPerView: 5,
                            spaceBetween: 5
                        },
                        1024: {
                            slidesPerView: 6,
                            spaceBetween: 10
                        }
                    }
                });

            });


        </script>


    </div>
</body>
</html>