@model FinalProjeto.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<!-- Swiper -->
<div class="homeslider">
    <div class="swiper-container">

        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="~/Theme/images/slider/poster2.jpg">
                <div class="caption">
                    <div class="captioninside">
                        <h3>Movie Title</h3>
                        <p>Lorem ipsum dolor siamet</p>
                        <a href="single.html" class="playbutton">Play</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="~/Theme/images/slider/poster1.jpg">
                <div class="caption">
                    <div class="captioninside">
                        <h3>Movie Title 2</h3>
                        <p>Lorem ipsum dolor siamet</p>
                        <a href="single.html" class="playbutton">Play</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="~/Theme/images/slider/poster2.jpg">
                <div class="caption">
                    <div class="captioninside">
                        <h3>Movie Title 3</h3>
                        <p>Lorem ipsum dolor siamet</p>
                        <a href="single.html" class="playbutton">Play</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</div>

@Html.TextBox("Onoma", null, new { @class = "form-control input-lg" , title ="Ego eimai textbox",placeholder="Edo grapse kati",type="number" });


<main class="content">
    <section class="panel">
        <h2>Movies</h2>
        <div class="recentslider">
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    @foreach (var movie in Model.Movies)
                    {
                        <div class="swiper-slide"><a href="\Movie\Details\@movie.MovieId"><img src=@movie.PhotoUrl><h3 class="hometitle">@movie.Title</h3></a></div>
                    }

                </div>
                <div class="nextdirection recent-next"><img src="~/Theme/img/right-arrow.svg"> </div>
                <div class="leftdirection recent-prev"><img src="~/Theme/img/left-arrow.svg"> </div>
            </div>
        </div>
    </section>

    <section class="panel">
        <h2>Top Movies By Genre</h2>
        <div class="recentslider">
            <div class="swiper-container">
                <div class="swiper-wrapper">

                    @foreach (var movie in Model.TopMoviesByGenre)
                    {
                        <div class="swiper-slide"><a href="\Movie\Details\@movie.MovieId"><img src=@movie.PhotoUrl><h3 class="hometitle">@movie.Title</h3></a></div>
                    }

                </div>
                <div class="nextdirection recent-next"><img src="~/Theme/img/right-arrow.svg"> </div>
                <div class="leftdirection recent-prev"><img src="~/Theme/img/left-arrow.svg"> </div>
            </div>
        </div>
    </section>




</main>

