
<header class="header">
    <figure class="logo"><a href="index.html"><img src="~/Theme/img/logo.png" alt="Logo"></figure></a>
    <nav class="menu">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li>
                <a>Genres</a>
                <ul>
                    <li><a href="genre.html">Action</a></li>
                    <li><a href="genre.html">Comedy</a></li>
                    <li><a href="genre.html">Drama</a></li>
                    <li><a href="genre.html">Romance</a></li>
                </ul>
            </li>
            <li>
                <a>Year</a>
                <ul>
                    <li><a href="year.html">2017</a></li>
                    <li><a href="year.html">2016</a></li>
                    <li><a href="year.html">2015</a></li>
                    <li><a href="year.html">2014</a></li>
                </ul>
            </li>
            <li>
                <a>Language</a>
                <ul>
                    <li><a href="language.html">English</a></li>
                    <li><a href="language.html">German</a></li>
                </ul>
            </li>
            <li><a href="mostwatched.html">Most Watched</a></li>
            <li class="mobsearch">
                <form class="mobform">
                    <input type="text" name="s" class="mobsearchfield" placeholder="Search...">
                    <input type="submit" value="" class="mobsearchsubmit">
                </form>
            </li>
        </ul>
    </nav>
    <form class="search">
        <input type="text" name="s" class="searchfield" placeholder="Search...">
        <input type="submit" value="" class="searchsubmit">
    </form>

    <div class="toggle"><img src="~/Theme/img/menu.svg"></div>
</header>

