
    <header class="header">
        <figure class="logo"><a href="\Home\index"><img src="~/Theme/img/logo.png" alt="Logo"></figure></a>
        <nav class="menu">
            <ul>
                <li><a href="\Home\index">Movies</a></li>
                @Html.Partial("_LoginPartialUser")
                @if (Request.IsAuthenticated)
                {
                    <li><a href="\Administrator\index">Go to Admin Aera</a></li>

                }

            </ul>
        </nav>

    



            <div class="toggle"><img src="~/Theme/img/menu.svg"></div>
        </header>

